

a {
	text-decoration: none;
}

#page-wrapper {
	background-image: url("http://2.bp.blogspot.com/-ymHxq8J1d20/VCFhlSZOZNI/AAAAAAAACdE/9I0dzCFPMr8/s0-p-d/Where-Tahrs-Live.jpg");
	border: 1px solid black;
	height: 800px
}

header {
	opacity: 0.8;
}

#top-menu ul > li {
	display: inline-block;
	padding-top: 10px;

}

#top-menu ul > li a {
	color: #fff;
	font-size: 23px;
	padding: 10px;
	transition: 0.5s all;
}

#top-menu ul > li a:hover {
	color: #FFC400;
}

.orange {
	color: #fff;
	margin-left: 850px;
	margin-top: -45px;
	font-size: 35px;
}

.orange a {
	color: #fff;
	transition: 0.5s all;
}

.orange a:hover {
	color: #FFC400
}

.menu {
	margin-top: 15px;
	margin-left: 500px;
}

.top-menu2 ul > li {
	display: inline-block;
	padding-top: 8px;
}

.top-menu2 ul > li a {
	color: #fff;
	font-size: 23px;
	padding-top: 10px;
	transition: 0.5s all;
}

.top-menu2 ul > li a:hover {
	color: #FFC400;
}

.menu2 {
	margin-left: 985px;
	margin-top: -49px;
}

.head_text_h1 {
	color: #fff;
	font-size: 70px;
	margin-left: 500px;
	margin-top: 270px
}

.head_down_tx {
	color: #fff;
	font-size: 20px;
	margin-left: 730px;
	margin-top: -10px;
}

.itext {
	color: grey;
	text-decoration: underline;
	transition: 0.5s all;
}

.itext:hover {
	color: black;
}

form {
	width: 400px;
	margin-left: 320px
}

.JumbH {
	font-size: 28px;
	color: black;
	text-decoration: none;
}

.JumbHtext {
	color: grey;
	font-size: 18px
}

.content {
	height: 350px;
	width: 100%;
	background: #f3f3f3;
}

.RRtext {
	font-size: 40px;
	color: black;
	margin-top: -32px
}

.RRPtext {
	font-size: 18px;
}

.eye {
	height: 35px;
	margin-left: -55px;
	margin-top: 115px
}

.content-2 {
	height: 780px;
}

.OPtext {
	color: black;
	text-align: center
}

.OPDtext {
	color: grey;
	text-align: center;
	font-size: 18px;
}

.contImg {
	background: #fff;
	height: 300px;
	margin-top: 50px;
	width: 400px;
	float: left;
	transition: 0.5s all;
}

.contImg:hover {
	transform: scale(1.2);
}

.contImg2 {
	background: #fff;
	height: 300px;
	margin-top: 50px;
	margin-bottom: -20px;
	margin-left: 25px;
	width: 400px;
	float: left;
	transition: 0.5s all;
}

.contImg2:hover {
	transform: scale(1.2);
}

.contImg3 {
	background: #fff;
	height: 300px;
	margin-top: -300px;
	margin-left: 850px;
	width: 400px;
	float: left;
	transition: 0.5s all;
}

.contImg3:hover {
	transform: scale(1.2);
}

.contImg4 {
	background: #fff;
	height: 300px;
	margin-top: 50px;
	width: 400px;
	float: left;
	transition: 0.5s all;
}

.contImg4:hover {
	transform: scale(1.2);
}

.contImg5 {
	background: #fff;
	height: 300px;
	margin-top: 50px;
	margin-bottom: -20px;
	margin-left: 25px;
	width: 400px;
	float: left;
	transition: 0.5s all;
}

.contImg5:hover {
	transform: scale(1.2);
}

.contImg6 {
	background: #fff;
	height: 300px;
	margin-top: -300px;
	margin-left: 850px;
	width: 400px;
	float: left;
	transition: 0.5s all;
}

.contImg6:hover {
	transform: scale(1.2);
}

.content-3 {
	background: url("C:/Users/Сергей.OLDI/Desktop/webS/images/work.jpg");
	height: 800px;
}

.com1 {
	position: absolute;
	border: 2px solid black;
	background: #fff;
	border-radius: 10px;
	height: 320px;
	width: 400px;
	margin-left: 400px;
	margin-top: 200px;
}

.com1T {
	font-size: 20px;
	padding-left: 40px;
	padding-top: 20px
}

.com2 {
	position: absolute;
	border: 2px solid black;
	background: #fff;
	border-radius: 10px;
	height: 248px;
	width: 400px;
	margin-left: 850px;
	margin-top: 200px;
}

.com2T {
	font-size: 20px;
	padding-left: 40px;
	padding-top: 20px
}

.com3 {
	position: absolute;
	border: 2px solid black;
	background: #fff;
	border-radius: 10px;
	height: 320px;
	width: 400px;
	margin-left: 1300px;
	margin-top: 200px;
}

.HC {
	color: #fff;
	padding-left: 800px;
	padding-top: 130px
}

.content-3 a {
	text-decoration: none;
}

.comdown {
	color: #fff;
	font-size: 17px;
	margin-top: 550px;
	margin-left: 400px
}

.comdown2 {
	color: #fff;
	font-size: 17px;
	margin-top: -130px;
	margin-left: 850px
}
.comdown3 {
	color: #fff;
	font-size: 17px;
	margin-top: 30px;
	margin-left: 1300px;
}

.relWin {
	height: 150px;
	background: #fff;
}

.GetIn {
	height: 400px;
	background: #392f2f;
}

.FootT {
	color: #fff;
	font-size: 40px;
	padding-left: 740px;
	padding-top: 130px;
}

.FootText {
	color: grey;
	font-size: 20px;
	padding-left: 550px;
}

.GetIn .btn {
	margin-left: 730px;
	width: 300px;
	border-radius: 20px;
}

.footer {
	font-size: 20px;
	color: black;
	margin-left: 750px
}